body {
  background-color: black;
  color: wheat;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.loadMore-button {
  display: block;
  margin: 0 auto;
  padding: 15px;
  font-size: 20px;
}
.loadMore-button.hidden {
  display: none;
}
.gallery li {
  margin-bottom: 50px;
}
.photo-card {
  margin-right: 30px;
}

#query,
.loadMore-button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  background-color: black;
  border: 2px solid wheat;
  color: wheat;
  padding: 15px;
  font-size: 20px;
}
.stats {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
