body {
  background-color: black;
  color: wheat;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.LoadMore-button {
  display: block;
  margin: 0 auto;
}
.photo-card {
  margin-right: 30px;
}
.LoadMore-button{
  padding: 15px;
  font-size: 20px;
}
#query{
  padding: 15px;
  font-size: 20px;
}